@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* GENERAL STYLES */

html, body {
    scroll-behavior: smooth;
    /* -webkit-overflow-scrolling: touch; */
    /* height: auto;
    overflow: auto; */
}

body {
    background-color: #fff;
    color: #000;
    font-family: "Lato", sans-serif;
    min-height: 100vh;
}

span {
    color: #12bbf3;
}

::-webkit-scrollbar {
    width: 5px;  
}
  
::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #000;
} 


/* NAVIGATION BAR */

nav {
    background-color: #ffffffab;
    position: sticky;

}

nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: #000;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #ffffff9c;
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media (max-width: 800px) {
    .hiddenOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
}

@media (max-width: 440px) {
    .sidebar {
        width: 100%;
    }
}


/* MAIN SECTION */

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-image: url("../images/cover.png");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}

.mainH1 {
    font-size: 6svw;
    letter-spacing: .03em;
    line-height: 1.2;
    margin: 0 1.25rem;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    animation: fadeInH1 3s ease-in forwards;

    z-index: 1;
}

.hiddenTilMobile {
    display: none;
}

@keyframes fadeInH1 {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media (max-width: 992px) {
    .main {
        background-size: cover;
        background-attachment: scroll;
    }
}

@media (max-width: 967px) {
    .mainH1 {
        font-size: 6.2svw;
    }
}

@media (max-width: 730px) {
    .mainH1 {
        font-size: 6.1svw;
    }
}

@media (max-width: 480px) {
    .main {
        background-image: url("../images/temp.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        background-attachment: scroll;
        height: 100svh;
        
    }
    .mainH1 {
        display: none;
    }
    .hiddenTilMobile {
        display: block;
        color: #fff;
        line-height: 1.1;
        letter-spacing: .03rem;
        font-size: 3.3rem;
        margin-left: 1.25rem;
        color: #000;
       
    }
}



/* ABOUT SECTION */

.aboutSection {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    position: relative;
    z-index: 3;
    letter-spacing: .03em;
    line-height: 1.1;
    max-width: 1440px;
    margin: 0 auto;
}

.aboutHeader.inView,
.about.inView {
    animation: fadeIn 1s ease-in forwards;
}

.aboutHeader{
    margin: 5rem 12.5%;
    font-size: 2.3rem;
    text-align: center;
}
.about {
    display: flex;
    flex: 1;
    margin: 0 8rem 8.75rem 1.25rem;
}

.aboutLeft {
    flex-basis: 50%;
    margin-right: 3rem;
}

.aboutLeft img {
    width: 100%;
}

.aboutRight {
    flex-basis: 50%;
    font-size: 1.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aboutTopP {
    margin-bottom: 1.5rem;
}


.contactButton,
.skillButton,
.galleryButton,
.galleryButtonBottom,
.instagramPrevBtn,
.instagramNextBtn,
.formButton {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: .625rem 1.25rem;
    font-weight: 600;
    line-height: 1.25rem;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 3px;
    color: #fff;
    background-color: #000000ab;
    border-color: #000;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
    text-transform: uppercase;
    margin-top: 1rem;
    opacity: .9;
}
.contactButton:hover,
.skillButton:hover,
.galleryButton:hover,
.instagramPrevBtn:hover,
.instagramNextBtn:hover,
.formButton:hover {
        color: #ffffff;
        background-color: #12bbf3;
        border-color: #12bbf3;
        box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px, rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
        transition-duration: 0.1s;
}




/* SKILLS SECTION */

.skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../images/skills/0.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    max-height: 50rem;
    z-index: 3;
    position: relative;
    background-color: #000;
    animation: breath 16s infinite;
    margin-bottom: 9rem;
    transition: background-image 0.2s ease-in-out;
}

@keyframes breath {
    0% { background-size: 115% auto; }
    50% { background-size: 100% auto; }
    100% { background-size: 115% auto; }
}


.skills::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    transition: opacity .1s ease-in-out;
}

.skills.black::before {
    opacity: 1;
}

.skillsText {
    font-size: 2.5rem;
    letter-spacing: .03rem; 
    width: 50%;
    max-width: 50%;
    color: #000;
    align-self: flex-end;
    padding: 0 1.25rem 50rem 0;    
}

.skillsTextSlideIn {
    animation: slide-in 1.2s forwards;
}

@keyframes slide-in {
    0% {
        margin-top: 8rem;
    }
    
    100% {
        margin-top: 3.75rem;
    }
}

.skillButtonContainer {
    align-self: center;
    position: absolute;
    bottom: 0;
}

.skillButton {
    margin: 0 .3125rem 2.5rem 0;
    background-color: #0303034d;
    border-color: #0303034d;
    color: #c9c6c6;
    padding: .625rem 1.25rem;
    font-size: 1.25rem; 
}

.skillButton:hover {
    background-color: #000000ab;
    color: #12bbf3;
}

.skillButtonActive {
    background-color: #12bbf3;
    border-color: #12bbf3;
    opacity: .9;
    color: #fff;
}

.skillButtonActive:hover {
    background-color: #12bbf3;
    color: #fff;
}




/* Gallery */

.galleryHeading,
.workHeading {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid gainsboro;
    line-height: 0.85;
    padding-bottom: 1.25rem;
    max-width: 1440px;
    margin: 0 auto;
}

.galleryPageHeading {
    margin-top: 5rem;
}

.galleryTitle,
.workTitle {
    
    font-size: 7rem;
    margin-left: 1.25rem;
}

.galleryButton {
    margin: 0 1.25rem 0 0;
    
}

.galleryButtonBottom {
    display: none;
}

.galleryMotto {
    display: flex;
    position: relative;
    z-index: 3;
}

.galleryHeading.inView,
.galleryMotto.inView,
.galleryButton.inView,
.gallery.inView {
    animation: fadeIn 1s ease-in forwards;
}

.mottoLeft,
.workRight {
    width: 50%;
}

.mottoRight{
    font-size: 2.3rem;
    margin: 1.875rem 0 3.125rem 0;
    z-index: 3;
    position: relative;
    font-weight: 500;
    line-height: 110%;
    width: 50%;
}

.gallery {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    background-color: #000;
    overflow: hidden;
}

.gallery img {
    width: 100%;
    transition: transform 0.5s;
    opacity: 0;
    animation: 1.1s fadein 1.1s forwards;
    -webkit-filter: brightness(100%);
}

@keyframes fadein {
    0% { opacity: 0; }
    100% {
        opacity: 1;
    }
}

.gallery img:hover,
.coverSection:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;coverSection img {
        width: 10%;
    }
    transition: all 1s ease;
    cursor: pointer;
}

#fullpage {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(.625rem);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  #fullpage.show {
    display: block;
  }

  #photosNextBtn {
    position: absolute;
    top: 50%;
    right: 1.25rem;
    transform: translateY(-50%);
    background: #fff;
    border: none;
    padding: .75rem 1.125rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    border-radius: 2px;
    cursor: pointer;
    z-index: 10000;
    transition: background 0.3s ease;
}

#photosNextBtn:hover {
    background: #12bbf3;
}

#photosPrevBtn {
    position: absolute;
    top: 50%;
    left: 1.25rem;
    transform: translateY(-50%);
    background: #fff;
    border: none;
    padding: .75rem 1.125rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    border-radius: 2px;
    cursor: pointer;
    z-index: 10000;
    transition: background 0.3s ease;
}

#photosPrevBtn:hover {
    background: #12bbf3;
}

.galleryRow {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: .5rem; 
}

.rightRow {
    margin-right: 0;
}

.galleryRow.galleryPage {
    width: 33.33%;
}

.galleryRow img {
    margin-bottom: .5rem;
}

@media (max-width: 1264px) {
    .gallerTitle {
        font-size: 6rem;
    }
    .mottoRight {
        font-size: 2.35rem;
    }
}

@media (max-width: 1000px) {
    .galleryTitle {
        font-size: 5rem;
    }
    .mottoRight {
        font-size: 2.15rem;
    }
    .rightRow {
        display: none;;
    }
    .thirdRow {
        margin-right: 0;
    }
    .galleryRow {
        width: 33.33%;
    }
}

@media (max-width: 480px) {
    .galleryHeading {
        display: block;
        border-bottom: 1px solid gainsboro;
        line-height: 0.85;
        padding-bottom: 1.25rem;
    }
    .galleryTitle {
        font-size: 3.5rem;
        text-align: center;
        margin: 0;
    }
    .galleryButton {
        display: none;
    }
    .mottoRight {
        font-size: 1.375rem;
        margin: 2rem 1rem 3rem 1rem;
        width: 100%;
    }
    .mottoLeft {
        display: none;
    }
    .hiddenInMobile {
        display: none;
    }
    .secondRow {
        margin-right: 0;
    }
    .thirdRow {
        display: none;
    }
    .galleryRow {
        width: 50%;
        margin-right: 0.3125rem;
    }
    .galleryRow img {
        margin-bottom: 0.3125rem;
    }
    .galleryBottomButtonContainer {
        background-color: #000;
        padding: 1rem;
    }
    .galleryButtonBottom {
        display: block;
        background-color: #12bbf3;
        width: 100%;
        border: none;
        font-size: 1rem;
    }
    
}



/* EXPERTISE SECTION */

.expertiseCarousel {
    color:#fff;
    background-color: #000;
    position: relative;
    z-index: 3;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.expertiseCarousel.top {
    padding-top: 9.375rem;
}

.expertiseCarousel.bottom {
    padding-bottom: 9.375rem;
}
.expertiseCarousel p {
    margin-bottom: 2.5rem;
}

.expertiseCarousel .carouselInner {
    width: max-content;
    padding: 1em 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
    list-style: none;
    animation: move 55s linear infinite;
    animation-delay: 1s;
}

.expertiseCarousel h2 {
    font-size: 9svw;
    letter-spacing: .25rem;
}

.expertiseCarousel .reverse {
    animation-direction: reverse;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 480px) {
    .expertiseCarousel.top {
        padding-top: 6rem;
    }
    .expertiseCarousel.bottom {
        padding-bottom: 6rem;
    }
    .expertiseCarousel p {
        margin-bottom: 2rem;
    }
    .expertiseCarousel h2 {
        font-size: 2.5rem;
    }
    .reverse {
        margin-top: -1rem;
    }
}


/* TESTIMONIAL SECTION */

.testimonialSection {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    z-index: 3;
}

.testimonials.inView,
.testimonialContainer.inView {
    animation: fadeIn 1s ease-in forwards;
}

.testimonialHeading,
.contactHeading {
    font-family: "Open Sans", sans-serif;
    letter-spacing: .03em;
}

.testimonialBorder {
    height: 9.375rem;
    border-bottom: 1px solid gainsboro;
}



.testimonialsLeft {
    display: flex;
    justify-content: space-between;
    margin-left: 1.25rem;
    padding-top: 1.875rem;
    width: 60%;
}

.testimonialsLeft h2,
.contactLeft h2 {
    font-size: 2.3rem;
    line-height: 110%;
}

.testimonialContainer {
    display: flex;
    position: relative;
    margin: 3.125rem 1.25rem 9.375rem 1.25rem;
}

.testimonial {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; 
    
}

.testimonialText {
    background-color: #000000ab;
    color: #fff;
    width: 80%;
    margin-bottom: 4.625rem;
    font-family: "Open Sans", sans-serif;
    border-radius: 2px;
    padding-bottom: 1.5625rem;
    letter-spacing: .03em;
}

.rightTestimonial {
    padding-bottom: 1.5625rem;
    margin: 4.5rem 0 4.375rem 0;

}

.person {
    font-size: 1.8rem;
    padding: 1.5625rem 0 .625rem 1.5625rem;
}

.person a {
    color: #12bbf3;
}

.personTitle {
    padding: 0 0 .9375rem 25px;
    font-size: 1.1rem;
}

.personQoute {
    padding: 0 25px 0 1.5625rem;
    line-height: 130%;
}

.testimonial.one {
    background-image: url("../images/testimonials/1.png");
    background-position: bottom;
    background-size: cover;
    margin-right: 1.25rem;
}

.testimonial.two {
    background-image: url("../images/testimonials/3.png");
    background-position: bottom;
    background-size: cover;
}



/* WORK SECTION */

.workHeading {
    display: flex;
    justify-content: flex-end;
}

.workTitle {
    margin-right: 1.25rem;
}

.workMotto {
    font-size: 2.3rem;
    margin: 1.875rem 0 3.125rem 0;
    z-index: 3;
    position: relative;
    font-weight: 500;
    line-height: 110%;
    margin: 0 auto;
    max-width: 1440px;
    padding-left: 1.25rem;
}


.workHeading.inView,
.workMotto.inView,
.workContainer.inView {
    animation: fadeIn 1s ease-in forwards;
}

.workSections h3 {
    font-size: 2.8rem;
    color: #fff;
    align-self: center;
}

.instagramLeft,
.facebookLeft,
.blogPostsLeft {
    display: flex;
    justify-content: space-between;
    width: 40%;
}


.instagramSection {
    display: flex;
    justify-content: space-between;
    background-image: url("../images/work/instagram.png");
    background-size: cover;
    background-position: bottom;
    padding: 3rem 1.25rem;
    border-bottom: 1px solid gainsboro;
}

.instagramDropDown {
    width: 100%;
    display: flex;
    flex: 1;
    border-bottom: 1px solid gainsboro;
    background: linear-gradient(to right, #6e39dad0, #eb3681e8, #f88316da);

}

.instagramDropDownLeft {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 width: 40%;
 margin: 1.25rem 0 0 1.25rem;
}

.instagramDropDownLeft img {
}

.instagramDropDownLeft p {
    font-family: "Open Sans", sans-serif;
    line-height: 130%; 
    letter-spacing: .03em;  
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    align-self: center;
}

.instagramDropDownTop,
.instagramDropDownBottom {
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url("../images/work/instagrampost1.png");
    background-size: cover;
    background-position: bottom;
    height: 50%;
    margin-bottom: 1.25rem;
    padding: 1.25rem 1.5rem;
}

.instagramDropDownBottom {
    background-image: url("../images/work/instagrampost2.png");
}

.instagramDropDownTop p,
.instagramDropDownBottom p {
    background-color: #000000ab;
    padding: 1.25rem 1.5rem;
    color: #fff;
    /* align-self: flex-end; */
}

.instagramDropDownTop,
.instagramDropDownBottom {

}

.instagramDropDownRight {
    width: 60%;
    display: flex;
    flex-direction: column;
    height: auto;
    transition: .5s ease-in-out;
}

.instagramItemList {
    display: flex;
    scroll-behavior: smooth;
    overflow: hidden;
    scroll-snap-type: x;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 1.25rem 1.25rem 0 1.25rem;
 }
 
 .instagram-media {
   width: 100%;
    scroll-snap-align: start;
 }

 .instagramScrollButons {
    display: flex;
    justify-content: space-between;
    padding: 0 1.25rem;
    margin-bottom: 1.25rem;
}

.instagramNextBtn,
.instagramPrevBtn {
    margin-top: 0;
    font-size: 1.25rem;
    background-color: #ffffffab;
    border: #fff;
    color: #000;
}

.instagramHidden {
    display: none;
}

.facebookSection {
    display: flex;
    justify-content: space-between;
    background-image: url("../images/work/facebook.png");
    background-position: center;
    background-size: cover;
    padding: 3rem 1.25rem;
    border-bottom: 1px solid gainsboro;
}

.facebookMain {
    display: flex;
    flex: 1;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    border-bottom: 1px solid gainsboro;
    background: linear-gradient(to right, #fff, #00C6FF, #009CFF, #0073ffcc);
}

iframe {
    width: 30%;
}

iframe:nth-child(1) {
    align-self: center;
}

.facebookHidden {
    display: none;

}

.blogPostsSection {
    display: flex;
    justify-content: space-between;
    background-image: url("../images/work/blogs.png");
    background-position: center;
    background-size: cover;
    padding: 3rem 1.25rem ;
    border-bottom: 1px solid gainsboro;
}

.blogDropDown {
    display: flex;
    flex: 1;
    gap: .625rem;
    letter-spacing: .03em;
    line-height: 130%;
    text-align: center;
    padding: 1.25rem;
    background: linear-gradient(to right, #8E8E8B, #A8A7A4, #C1C1BD, #F4F3EE);
}



.blogDropDown img {
    width: 100%;
}

.blogDropDown p {
    padding: .625rem;
    margin-top: -4px;
    border: 1px solid gainsboro;
    border-top: none;
    color: #fff;
}

.blogHidden {
    display: none;
}


/* CONTACT SECTION */

.contactContainer {
background-color: #fff;
color: #000;
}

.contactBorder {
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid gainsboro;
    margin: 150px 0 30px 0;
}

.contactBorder p {
    font-size: 7rem;
    margin-left: 1.25rem;

}

.contactFormContainer {
    background-color: #fff;
    color: #fff;
    display: flex;
    flex: 1;
    margin: 5rem 0 0 0;
    padding-bottom: 8.75rem;
    letter-spacing: .03em;
}

.contactHeading {
    display: flex;
}

.contactLeft {
    width: 40%;
}

.contactRight {
    width: 60%;
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
}

.contactFormLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-image: url("../images/contact.png");
    background-size: cover;
    background-position: bottom;
    /* margin-left: 1.25rem; */
}

.contactFormLeft h2 {
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
}

.contactFormLeft p {
    font-size: 1.5rem;
}

.socialMediaIcons {
    margin-bottom: 1.25rem;
}

.smiconLeft {
    margin-right: 1.25rem;
}

.contactFormRight {
    display: flex;
    justify-content: center;
    width: 60%;
    background-color: #000;
}



form {
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem 3rem 2rem;
    width: 80%;
}

form h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    line-height: 110%;
    letter-spacing: .03em;
}

.nameEmailInput {
    display: flex;
}

form input {
    width: 50%;
    margin-bottom: 2.5rem;
    font-size: 1rem;
    padding: 1.25rem 0 .375rem .375rem;
    border: none;
    border-bottom: 1px solid gainsboro;
    background-color: #000;
    color: #fff;
    letter-spacing: .03em;
}

.inputLeft {
    margin-right: 1.25rem;
}

textarea {
    font-size: 1rem;
    background-color: #000;
    color: #fff;
    padding: 1.25rem 0 0 .375rem;
    margin-bottom: 2.5rem;
    border-color: gainsboro;
}

.formButton {
    background-color: #fff;
    color: #000;
    border-color: gainsboro;
    align-self: flex-end;
    width: 15%;
    font-size: .875rem;
}



/* FOOTER */






