html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    color: #000;
    font-family: "Roboto", sans-serif;
}

span {
    color: #12bbf3;
}




/* MAIN SECTION */


.primaryHeader{
    position: fixed;
    top: 0;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    background-color: #2424244d;
    opacity: 0;
    animation: fadeIn 0.8s ease-in forwards;
    transition: background-color .5s ease, opacity 0.5s ease;
    backdrop-filter: blur(2rem);
    z-index: 9999;
    border-radius: 3px;
    padding: 10px 20px;
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

nav {
    display: flex;
    justify-content: center;
}

.bar {
    height: 14px;
    margin-right: 20px;
    padding-top: 2px;
}

nav li {
    margin-right: 20px;
}

.navLastLi {
    margin-right: 0;
}

nav li a {
    color: #fff;
    font-size: .65rem;
    text-transform: uppercase;
    letter-spacing: .12em;
    line-height: 1.2;
    font-weight: 600;
    cursor: pointer;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100dvh;
    background-image: url("../images/cover.png");
    background-size: 120%;
    transition: background-size 0.5s ease-out;
    background-position: center;
    background-attachment: fixed;
    z-index: 3;
    overflow-x: hidden;
}

main p {
    position: fixed;
    font-size: 1.1rem;
    color: #fff;
    padding: 0 20px 0 0;
    opacity: 0;
    margin-right: -100vw;
    margin-bottom: 50px;
    animation: slidefade 3s forwards;
    font-weight: 600;
}

@keyframes slidefade {
    0% {
        margin-right: -100vw;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}

.logoContainer {
    position: fixed;
    bottom: 0;
    animation: fadeIn 3s ease-in forwards;
    width: calc(100% - 40px);
    margin-right: 20px;
    padding-bottom: 20px;
}

.logoContainer img{
    width: 100%;
}






/* ABOUT SECTION */


.aboutTitle {
    font-size: 1rem;
    line-height: 120%;
    margin: 40px 0 0 20px;
    z-index: 3;
    position: relative;
}

.aboutHeading {
    width: fit-content;
    max-width: 1512px;
    font-size: 2.8rem;
    font-weight: 500;
    color: #000;
    z-index: 3;
    position: relative;
    text-indent: calc(25% - .25rem);
    margin: -23px 20px 100px 20px;
    line-height: 110%;
    letter-spacing: .03em;
}

.about {
    width: 100%;
    max-width: 1512px;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    position: relative;
    margin: 0 auto 150px auto;
}

.aboutLeft {
    width: 50%;
    margin-left: 20px;
}

.aboutLeft img {
    width: 75%;
}

.aboutRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about p {
    width: 52%;
    margin-bottom: 20px;
    line-height: 130%;
}


.contactLinks {
    display: flex;
    margin-top: 30px;
}

.contactItem {
    margin-right: 10px;
}

.contactButton,
.skillButton,
.galleryButton {
    padding: 15px 20px;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #12bbf3;
    color: #fff;
}




/* SKILLS SECTION */

.skills {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../images/skills0.png");
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 750px;
    z-index: 3;
    position: relative;
    margin-bottom: 150px;
}

.skills h2 {
    font-size: 2.8rem;
    letter-spacing: .03rem; 
    width: 50%;
    color: #fff;
    margin: 40px 0 0 20px;
}

.skillButtonContainer {
    margin-left: 20px;
}

.skillButton {
    margin: 0 5px 40px 0;
    background-color: #0303034d;
    /* backdrop-filter: blur(.2rem); */
}

.skillButtonActive {
    background-color: #12bbf3;
}





/* GALLERY SHOWCASE SECTION */

.galleryHeading,
.workHeading {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 20px;
    border-bottom: 1px solid gainsboro;
    line-height: 0.85;
}
.galleryTitle,
.workTitle {
    font-size: 12svw;
    margin-left: -5px;
}

.galleryButton {
    margin-bottom: 8.5px;
}

.galleryMotto {
    display: flex;
}

.mottoLeft,
.workRight {
    width: 50%;
}

.mottoRight,
.workRight{
    font-size: 2.8rem;
    margin: 30px 0 50px 0;
    z-index: 3;
    position: relative;
    font-weight: 500;
    line-height: 110%;
    width: 50%;
}

.gallery {
    margin: 0 20px;
    background-color: #000;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 1000px;
    margin-bottom: 150px;
    max-width: 1512px;
}

.galleryRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    margin-right: 10px;
}

.galleryRow img {
    margin-bottom: 10px;
}



/* INSTAGRAM SECTION */

.workHeading {
    display: flex;
    justify-content: flex-end;
}

.workTitle {
    margin-left: 0;
}

.workContainer {
    display: flex;
    position: relative;
    z-index: 3;
    max-width: 1512px;
    margin: 0 auto;
}

.workLeft {
    width: 30%;
    margin-top: 38px;
}

.workLeft img {
    width: 95%;
    margin-left: 20px;
}

.workRow {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid gainsboro;
    margin-left: 19px;
}

.workOne {
    padding-top: 0;
}

.workRow img {
    width: 25px;
    height: 35px;
    align-self: center;
}

.workRight {
    width: 70%;
    margin-right: 20px;
}




 


   
















  
 





